In [1]:
import time
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg://user:pass@localhost:5432/my_db')
file_path = './taxi_data.parquet'
table_name = 'yellow_taxi_data'

In [2]:
import pandas as pd
df = pd.read_parquet(file_path) #Loads the complete file in memory.
df.columns = [col.lower().replace(' ', '_') for col in df.columns] #Converting all column names to lowercase for consistency (Postgres likes this!)
df['passenger_count'] = df['passenger_count'].fillna(0).astype('int32') #Handling missing values and optimizing data types (example!)

In [3]:
df.shape

(3475226, 20)

In [4]:
df.dtypes

vendorid                          int32
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                   int32
trip_distance                   float64
ratecodeid                      float64
store_and_fwd_flag               object
pulocationid                      int32
dolocationid                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
cbd_congestion_fee              float64
dtype: object

In [5]:
df.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1,1.60,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1,0.50,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1,0.60,1.0,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3,0.52,1.0,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3,0.66,1.0,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0

In [6]:
df.describe()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee
count,3.475226e+06,3475226,3475226,3.475226e+06,3.475226e+06,2.935077e+06,3.475226e+06,3.475226e+06,3.475226e+06,3.475226e+06,3.475226e+06,3.475226e+06,3.475226e+06,3.475226e+06,3.475226e+06,3.475226e+06,2.935077e+06,2.935077e+06,3.475226e+06
mean,1.785428e+00,2025-01-17 11:02:55.910964,2025-01-17 11:17:56.997901,1.096135e+00,5.855126e+00,2.482535e+00,1.651916e+02,1.641252e+02,1.036623e+00,1.708180e+01,1.317737e+00,4.780991e-01,2.959813e+00,4.493081e-01,9.547946e-01,2.561129e+01,2.225237e+00,1.239111e-01,4.834093e-01
min,1.000000e+00,2024-12-31 20:47:55,2024-12-18 07:52:40,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-9.000000e+02,-7.500000e+00,-5.000000e-01,-8.600000e+01,-1.269400e+02,-1.000000e+00,-9.010000e+02,-2.500000e+00,-1.750000e+00,-7.500000e-01
25%,2.000000e+00,2025-01-10 07:59:01,2025-01-10 08:15:29.500000,1.000000e+00,9.800000e-01,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.520000e+01,2.500000e+00,0.000000e+00,0.000000e+00
50%,2.000000e+00,2025-01-17 15:41:33,2025-01-17 15:59:34,1.000000e+00,1.670000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.211000e+01,0.000000e+00,5.000000e-01,2.450000e+00,0.000000e+00,1.000000e+00,1.995000e+01,2.500000e+00,0.000000e+00,7.500000e-01
75%,2.000000e+00,2025-01-24 19:34:06,2025-01-24 19:48:31,1.000000e+00,3.100000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,1.950000e+01,2.500000e+00,5.000000e-01,3.930000e+00,0.000000e+00,1.000000e+00,2.778000e+01,2.500000e+00,0.000000e+00,7.500000e-01
max,7.000000e+00,2025-02-01 00:00:44,2025-02-01 23:44:11,9.000000e+00,2.764236e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,8.633721e+05,1.500000e+01,1.050000e+01,4.000000e+02,1.709400e+02,1.000000e+00,8.633804e+05,2.500000e+00,6.750000e+00,7.500000e-01
std,4.263282e-01,NaN,NaN,8.349488e-01,5.646016e+02,1.163277e+01,6.452948e+01,6.940169e+01,7.013334e-01,4.634729e+02,1.861509e+00,1.374623e-01,3.779681e+00,2.002582e+00,2.781938e-01,4.636585e+02,9.039932e-01,4.725090e-01,3.619307e-01

In [7]:
#Column fields and its dtypes as originally in the parquet file. this is for telling exactly how the table should look when created.
import pyarrow.parquet as pq
parquet_file = pq.ParquetFile(file_path) #not importing the whole file, just it's pointer for reading it's metadata.
parquet_file.schema_arrow

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double
cbd_congestion_fee: double

In [ ]:
# # Method 2: better for RAM Management
# parquet_iter = parquet_file.iter_batches(batch_size=100000) #Iterating over parquet file pointer batch wise so that memory doesn't fill up too quickly.
# first_batch = True
# start_time = time.time()
# total_rows = 0

# for batch in parquet_iter:
#     batch_df = batch.to_pandas()
#     batch_df.columns = [col.lower().replace(' ', '_') for col in batch_df.columns] #Converting all column names to lowercase for consistency (Postgres likes this!)
#     batch_df['passenger_count'] = batch_df['passenger_count'].fillna(0).astype('int32') #Handling missing values and optimizing data types (example!)
#     if first_batch:
#         batch_df.to_sql(name=table_name, con=engine, if_exists='replace', index=False) #first time
#         first_batch = False
#     else:
#         batch_df.to_sql(name=table_name, con=engine, if_exists='append', index=False) #remaining batches
#     total_rows += len(batch_df)
#     print(f"{total_rows} ingested till now.")
# end_time = time.time()
# duration = end_time - start_time
# print(f"Done. Total time taken: {duration}, for ingesting {total_rows} rows.")

100000 ingested till now.
200000 ingested till now.
300000 ingested till now.
400000 ingested till now.
500000 ingested till now.
600000 ingested till now.
700000 ingested till now.
800000 ingested till now.
900000 ingested till now.
1000000 ingested till now.
1100000 ingested till now.
1200000 ingested till now.
1300000 ingested till now.
1400000 ingested till now.
1500000 ingested till now.
1600000 ingested till now.
1700000 ingested till now.
1800000 ingested till now.
1900000 ingested till now.
2000000 ingested till now.
2100000 ingested till now.
2200000 ingested till now.
2300000 ingested till now.
2400000 ingested till now.
2500000 ingested till now.
2600000 ingested till now.
2700000 ingested till now.
2800000 ingested till now.
2900000 ingested till now.
3000000 ingested till now.
3100000 ingested till now.
3200000 ingested till now.
3300000 ingested till now.
3400000 ingested till now.
3475226 ingested till now.
Done. Total time taken: 145.22914052009583, for ingesting 3475226 rows.

In [3]:
import fsspec
import pyarrow.parquet as pq

fs = fsspec.filesystem("https")
with fs.open(
    "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet"
) as f:
    file = pq.ParquetFile(f)

file.schema_arrow

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double